.econtainer {
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
  margin-right: auto;
  margin-left: auto;
}

.esection {
  height: calc(100vh - 70px);
}

.etable {
  height: calc(100vh - 150px);
}