@use "styles_vars" as v;

.font-weight-bold {
  font-weight: bold!important;
}

.vscroll {
  overflow-y: scroll;
}

.table {
  --bs-table-active-color: v.$table-active-color;
  --bs-table-active-bg: v.$table-active-bg;
}

.table-striped > tbody > tr.table-active {
  background-color: v.$table-active-bg;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
